<div class="h-screen w-screen flex justify-center items-center bg-zinc-800">
    <p class="text-sky-500 text-3xl" id="ip_addr">Loading...</p>
</div>

<script is:inline>
const ipEl = document.getElementById('ip_addr')
document.addEventListener('DOMContentLoaded', () => {
    fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
            ipEl.textContent = data.ip;
        })
        .catch(error => {
            ipEl.textContent = 'Error fetching IP address';
        });
});
</script>
